:root {
  /* spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1.5rem;
  --spacing-4: 1.75rem;
  --spacing-5: 2rem;

  /* colors */
  --colors-base-100: #ffffff;
  --colors-base-200: #dddddd;
  --colors-base-400: #8f8f8f;
  --colors-base-800: #000000;

  --colors-green-400: #69cc07;

  /* font sizes */
  --font-size-1: 0.5rem;
  --font-size-2: 0.75rem;
  --font-size-3: 1rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 1.75rem;
  --font-size-7: 2rem;

  /* font weights */
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;

  /* button sizes */
  --button-size-1: 1.75rem;
  --button-size-2: 2.5rem;
  --button-size-3: 3.5rem;
}
